@import './content/love';
@import './content/love2';
@import './content/love3';
@import './content/love4';

body{
    background-image:  url(../img/hearth.jpg);
    background: cover no-repeat;
    width: 100%;
    height: 100%;

}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
